html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-family: "TitilliumWeb", "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 5px;
}

.content {
  flex: 1 0 auto;
  padding-top: 73px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
